<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TurnOnMyPCProcessing.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TurnOnMyPCProcessing.Settings>
            <setting name="UserPCList" serializeAs="String">
                <value>
                  &lt;ArrayOfUserPCInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;
                  &lt;LocalUserPCInfo&gt;
                    &lt;Login&gt;test&lt;/Login&gt;
                    &lt;PCName&gt;ws-if-cp0763&lt;/PCName&gt;
                    &lt;MacAddress&gt;7071BCB0FD07&lt;/MacAddress&gt;
                  &lt;/LocalUserPCInfo&gt;
                  &lt;/ArrayOfUserPCInfo&gt;
                </value>
            </setting>
            <setting name="TurnOnMyPCProcessing_localhost_WebService" serializeAs="String">
                <value>http://localhost/TurnOnMyPC/WebService.asmx</value>
            </setting>
        </TurnOnMyPCProcessing.Settings>
    </applicationSettings>
</configuration>