<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TurnOnMyPCProcessing.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TurnOnMyPCProcessing.Settings>
            <setting name="TurnOnMyPCProcessing_localhost_WebService" serializeAs="String">
                <value>http://localhost/TurnOnMyPC/WebService.asmx</value>
            </setting>
            <setting name="webServiceUserName" serializeAs="String">
                <value>securedUser</value>
            </setting>
            <setting name="webServiceUserPassword" serializeAs="String">
                <value>Qewog$%@ef@</value>
            </setting>
            <setting name="PathToDataFile" serializeAs="String">
                <value>d:\Projects\MyGithub\TurnOnMyPC\TurnOnMyPCProcessing\PCData.xml</value>
            </setting>
        </TurnOnMyPCProcessing.Settings>
    </applicationSettings>
</configuration>