/TurnOnMyPC/bin/TurnOnMyPC.dll
/TurnOnMyPC/bin/TurnOnMyPC.pdb
/TurnOnMyPC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TurnOnMyPC/obj/Debug/TurnOnMyPC.csproj.FileListAbsolute.txt
/TurnOnMyPC/obj/Debug/TurnOnMyPC.csprojResolveAssemblyReference.cache
/TurnOnMyPC/obj/Debug/TurnOnMyPC.dll
/TurnOnMyPC/obj/Debug/TurnOnMyPC.pdb
/TurnOnMyPC/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/TurnOnMyPC/obj/Release/TurnOnMyPC.csproj.FileListAbsolute.txt
/TurnOnMyPC/obj/Release/TurnOnMyPC.csprojResolveAssemblyReference.cache
/TurnOnMyPC/obj/Release/TurnOnMyPC.dll
/TurnOnMyPC/obj/Release/TurnOnMyPC.pdb
/TurnOnMyPCProcessing/bin/Debug/TurnOnMyPCProcessing.exe
/TurnOnMyPCProcessing/bin/Debug/TurnOnMyPCProcessing.exe.config
/TurnOnMyPCProcessing/bin/Debug/TurnOnMyPCProcessing.pdb
/TurnOnMyPCProcessing/bin/Debug/TurnOnMyPCProcessing.vshost.exe
/TurnOnMyPCProcessing/bin/Debug/TurnOnMyPCProcessing.vshost.exe.config
/TurnOnMyPCProcessing/bin/Release/TurnOnMyPCProcessing.InstallLog
/TurnOnMyPCProcessing/bin/Release/TurnOnMyPCProcessing.XmlSerializers.dll
/TurnOnMyPCProcessing/bin/Release/TurnOnMyPCProcessing.exe
/TurnOnMyPCProcessing/bin/Release/TurnOnMyPCProcessing.exe.config
/TurnOnMyPCProcessing/bin/Release/TurnOnMyPCProcessing.pdb
/TurnOnMyPCProcessing/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/TurnOnMyPCProcessing/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TurnOnMyPCProcessing/obj/x86/Debug/TempPE/Web References.localhost.Reference.cs.dll
/TurnOnMyPCProcessing/obj/x86/Debug/TurnOnMyPCProcessing.ProcessingService.resources
/TurnOnMyPCProcessing/obj/x86/Debug/TurnOnMyPCProcessing.ProjectInstaller.resources
/TurnOnMyPCProcessing/obj/x86/Debug/TurnOnMyPCProcessing.csproj.FileListAbsolute.txt
/TurnOnMyPCProcessing/obj/x86/Debug/TurnOnMyPCProcessing.csproj.GenerateResource.Cache
/TurnOnMyPCProcessing/obj/x86/Debug/TurnOnMyPCProcessing.csprojResolveAssemblyReference.cache
/TurnOnMyPCProcessing/obj/x86/Debug/TurnOnMyPCProcessing.exe
/TurnOnMyPCProcessing/obj/x86/Debug/TurnOnMyPCProcessing.pdb
/TurnOnMyPCProcessing/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
/TurnOnMyPCProcessing/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/TurnOnMyPCProcessing/obj/x86/Release/TempPE/Web References.localhost.Reference.cs.dll
/TurnOnMyPCProcessing/obj/x86/Release/TurnOnMyPCProcessing.ProcessingService.resources
/TurnOnMyPCProcessing/obj/x86/Release/TurnOnMyPCProcessing.ProjectInstaller.resources
/TurnOnMyPCProcessing/obj/x86/Release/TurnOnMyPCProcessing.XmlSerializers.dll
/TurnOnMyPCProcessing/obj/x86/Release/TurnOnMyPCProcessing.csproj.FileListAbsolute.txt
/TurnOnMyPCProcessing/obj/x86/Release/TurnOnMyPCProcessing.csproj.GenerateResource.Cache
/TurnOnMyPCProcessing/obj/x86/Release/TurnOnMyPCProcessing.csprojResolveAssemblyReference.cache
/TurnOnMyPCProcessing/obj/x86/Release/TurnOnMyPCProcessing.exe
/TurnOnMyPCProcessing/obj/x86/Release/TurnOnMyPCProcessing.pdb
