<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="PathToDataFile" value="D:\data.xml" />
    <add key="webServiceUserName" value="securedUser"/>
    <add key="webServiceUserPassword" value="Qewog$%@ef@"/>
  </appSettings>
  
  <system.web>
      <compilation debug="true" targetFramework="4.0" />
      
      <customErrors mode="On" defaultRedirect="~/Error.aspx" redirectMode="ResponseRedirect">
      </customErrors>

  </system.web>
</configuration>
