body
{
    background-color: #d5d5d5;
    font-size: 1em;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

input[type="submit"], input[type="button"]
{
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
    outline: 0 none;
    border: 1px solid #bcbcbc;
    background-color: #66CC66;

    height: 1.5em;
    margin: 5px 0;
}

input[type="submit"]:hover, input[type="button"]:hover
{
    background-color: #44CC44;
    border: 1px solid #a3a3a3;
    box-shadow: 0 1px 1px #d6d6d6;
}

input[type="submit"]:active, input[type="button"]:active
{
    box-shadow: 0 1px 2px #969696 inset;
}
input[type="submit"]:focus, input[type="button"]:focus
{
    border: 1px solid #969696;
}

input[type="submit"], input[type="button"]
{
    min-width: 50px;
}

input[type="text"]
{
    outline: 0 none;
    border: 1px solid #bcbcbc;
    min-width: 50px;
    height: 1.5em;
}

.Title 
{
    font-size: 1.5em;
}

.Description 
{
    font-size: 1em;
}

.InfoContainer 
{
    padding-left: 10%;
    padding-top: 5%;
}
